

md-checkbox.md-checked.purple .md-icon {
  background-color: $accent-color;
  .md-ink-ripple{
    background-color: $accent-color;
  }
}

md-checkbox.md-default-theme.md-checked.purple .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: #536DFE;
}


button{
  font-size: 1em;
}

@media (max-width: 768px) {
  &{
    font-size: 10px;
  }
  button {
    font-size:11px;
    padding:4px 6px;
  }
}