

md-checkbox.md-checked.purple .md-icon {
  background-color: $accent-color;
  .md-ink-ripple{
    background-color: $accent-color;
  }
}

md-checkbox.md-default-theme.md-checked.purple .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: #536DFE;
}


.hover-background{
  background-color: gray;
}