


<td>

	{{#paper-checkbox
			name="itemCheckbox"
			class = "purple shopping-list-checkbox"
			value=isCheckedComputed
			onChange=(action (mut isChecked))
	}}
	{{/paper-checkbox}}

</td>

{{#each colPropertyNames as |colPropertyName|}}

	<td>
		{{get rowItem colPropertyName}}
	</td>

{{/each}}

<td>
	$0.00
</td>



{{#each tableRowActions as |action|}}

	<td>
		{{#bs-button class=action.class}}
			{{action.text}}
		{{/bs-button}}
	</td>

{{/each}}

