<td class="checkBoxCell">

	{{#paper-checkbox
			name="itemCheckbox"
			class = "purple shopping-list-checkbox"
			value=isCheckedComputed
			onChange=(action (mut isChecked))
	}}
	{{/paper-checkbox}}

</td>



{{#each colPropertyNames as |colPropertyName|}}

	<td>
		{{get rowItemComp colPropertyName}}
	</td>

{{/each}}

{{#each tableRowActions as |action|}}

	<td>
		{{#bs-button onClick=(action "sendActionUp" action.action rowItem) class=action.class}}
			{{action.text}}
		{{/bs-button}}
	</td>

{{/each}}

