{{#if session.isAuthenticated}}
	{{primary-nav-bar}}
	<div class="layout-row layout-xs-column layout-align-center-center">
		<div class="flex-90 flex-gt-md-80">
			{{outlet}}
		</div>
	</div>
{{else}}
	{{outlet}}
{{/if}}

