@import 'https://fonts.googleapis.com/css?family=Archivo+Black';
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Import the rest of ember-paper.
@import "ember-paper";
@import "pod-styles";
@import 'agency';
@import 'mixins';
@import 'variables';

$primary-background-color: #f3f3f3;
$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$header-color: #3949AB;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #536DFE;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$primary-font: 'Ubuntu', sans-serif;

html, body {
  margin: 0;
  height: 100%;
}



body {

  background-color: $primary-background-color;
}

body > .ember-view {
  background-color: $primary-background-color;
}

.page-header {
  color: black;
  padding-bottom: 0px;
  border-bottom: 3px solid black;
}

.page-header > h1 {
  font-weight: bold;
}

.dashboard-list-group {
  font-size: 1em;
  padding: 2.5px;
}

.shopping-list-add-btn {
  border-radius: 10px;
}

.new-item-form > .input-group {
  margin: 0 auto;
  min-width: 90%;
}

#shopping-list-main {
  font-size: 1.3em;
}

#shopping-list-main > .list-group-item {
  border: 0px;
}

#shopping-list-main > .list-group-item > input {
  margin-right: 10px;
}

.dashboard-col {
  background-color: white;
}

.settings-drop-down {
  color: $primary-color-text;
}


.remove_button_css {
  outline: none;
  padding: 5px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.list-item-dash {
  margin-top: 15px;
  font-size: 1.25em;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.list-item-dash:last-child {
  border-bottom: 0px;
}

textarea:focus, input:focus {
  outline: none;
}

.btn:focus {
  color: white;
}

@media (min-width: 768px) {
  .hide-the-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-the-button {
    background-color: transparent;
  }
}

.form-inline {
  padding: 10px;
}

.add-new-shopping-list-item {
  margin-bottom: 0;
}

.add-new-shopping-list-item .row {
  margin-bottom: 0;
}

#group-shopping-list tr td {
  font-size: 1.25em;
}

.dashboard-card-buttons {
  margin-top: -5px;
}

.padded {
  padding: 10px;
}

.shopping-list-card-buttons {
  font-size: 1.25em;
}

.shopping-list-card-buttons button {
  margin-left: 5px !important;
}

#shopping-list-header {
  padding-bottom: 0;
}

#purchased-list-header {
  padding-bottom: 0;
}

.sort-header {
  font-size: 1.15em;
  font-weight: bold;
  margin-left: 5px;
}

.sort-button {
  color: $accent-color;
  font-weight: normal;
  width: 100%;
}

#add-new-item {
  background-color: $accent-color;
  float: right;
}

#add-new-item i {
  color: $primary-color-text;
}

#add-new-item:disabled {
  background-color: $primary-color-light;
}

#new-shopping-list-item-qty {
  margin-left: 10px;
  margin-right: 15px;
}

#new-shopping-list-item-header {
  margin-top: 5px;
}

.delete-button {
  font-size: 1.2em;
}

.select-all-button {
  font-size: 1.25em;
  margin-left: -5px;
  margin-right: 5px;
}

.shopping-item-quantity {
  font-size: 1.3em;
  font-weight: bold;
}

.shopping-list-information {
  font-size: 1.3em;
  padding-left: 10px;
  margin-bottom: 0px;
}

.shopping-list-checkbox {
  margin-bottom: 1px;
}

.shopping-item-subtext {
  font-size: .8em;
  color: #757575;
}

.remove-item-button {
  font-size: 1.2em;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $primary-color;
  font-size: 1.2em;
}

.buy-item-button {

}

.fix-flex {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.no-wrap {
  flex-shrink: 0;
  min-width: 50% !important;
}

.md-headline {
  font-size: 1.4em !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: $header-color;
  color: white;
}
