@import 'https://fonts.googleapis.com/css?family=Archivo+Black';
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import 'ember-paper';

$primary-background-color: #f3f3f3;
$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #536DFE;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$primary-font: 'Ubuntu', sans-serif;

#main-nav-bar {
  background-color: $primary-color-dark;
  border: 0;
  border-radius: 0;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
  background-color: $primary-background-color;
}

.container {
  width: 90%;
  height: 100%;
  background-color: $primary-background-color;
  font-family: $primary-font;

}

.navbar {
  margin-bottom: 0px;
}

#nav-branding {
  color: $primary-color-text;
  font-size: 2.4em;
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 4px;
  font-weight: lighter;
}

#landing-page-nav-branding {
  padding-left: 10px;
  color: black;
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
}

#nav-link-items > li > a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  //margin-left: 2%;
  font-family: $primary-font;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 5px solid $accent-color;
  padding-bottom: 10px;
  background-color: inherit;
  color: $primary-color-text !important;

}

.dash-section-header {
  font-size: 2em;
  background-color: $primary-color;
  color: white;
  padding: 10px;
  margin-bottom: -1px;
}

.page-header {
  color: black;
  padding-bottom: 0px;
  border-bottom: 3px solid black;
}

.page-header > h1 {
  font-weight: bold;
}

.dashboard-list-group {
  font-size: 1em;
  padding: 2.5px;
}

.shopping-list-add-btn {
  border-radius: 10px;
}

.new-item-form > .input-group {
  margin: 0 auto;
  min-width: 90%;
}

#shopping-list-main {
  font-size: 1.3em;
}

#shopping-list-main > .list-group-item {
  border: 0px;
}

#shopping-list-main > .list-group-item > input {
  margin-right: 10px;
}

.dashboard-col {
  background-color: white;
}

.settings-drop-down {
  color: $primary-color-text;
}

.navbar-default .navbar-nav > li > a {
  color: $primary-color-text;
  font-size: 1.5em;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $primary-color-text;
  background-color: $primary-color-dark;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $primary-color-dark;
  color: $primary-color-text !important;
}

.remove_button_css {
  outline: none;
  padding: 5px;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}

.landing-page-container {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/images/bg2.jpg') no-repeat center center;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background-size: cover;
  max-height: 93.5vh;
  min-height: 93.5vh;

}

.landing-page-main-text {
  width: 100%;
  color: $primary-color-text;
  font-family: 'Raleway', sans-serif;
  text-align: center;

}

@media (max-width: 768px) {

  .landing-page-main-text > h1 {
    font-size: 2.5em;
  }
  .landing-page-main-text > h2 {
    font-size: 2em;
    margin-bottom: 0px;
  }
}

.landing-page-signin {
  margin-top: 22vh;
  text-align: center;
  font-size: 2.25em;
  font-family: 'Raleway', sans-serif;
}

.landing-page-action-button {
  background-color: transparent;
  border: 2px solid ghostwhite;
  opacity: 50%;
  color: ghostwhite;
  padding: 14px 25px;
  margin-bottom: 4vh;
  text-align: center;
  text-decoration: none;
  display: block;
}

.landing-page-nav-link > a {
  margin-right: 15px;
  color: gray !important;
}

.landing-page-nav-link > a:hover {
  margin-right: 15px;
  color: lightgray !important;
  background-color: transparent !important;
}

.landing-brand {
  color: black !important;
}

.landing-page-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.basic-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}

.shopping-list-item-label {
  font-size: 1.15em !important;
}

#new-shopping-list-item-qty {
  padding-bottom: 0px;
  font-size: 1em;
}

#new-shopping-list-item {
  padding-bottom: 0px;
  font-size: 20px;
}

.list-item-dash {
  margin-top: 15px;
  font-size: 1.25em;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.list-item-dash:last-child {
  border-bottom: 0px;
}

textarea:focus, input:focus {
  outline: none;
}

.btn:focus {
  color: white;
}

@media (min-width: 768px) {
  .hide-the-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-the-button {
    background-color: transparent;
  }
}

.form-inline {
  padding: 10px;
}

.add-new-shopping-list-item {
  margin-bottom: 0;
}

.add-new-shopping-list-item .row {
  margin-bottom: 0;
}

#group-shopping-list tr td {
  font-size: 1.25em;
}

.dashboard-card-buttons {
  margin-top: -5px;
}

.padded{
  padding:10px;
}
