<div class="menus layout-fill layout-wrap layout-row layout-align-space-between-center">
	<div class="layout-column flex-33 flex-sm-100 layout-align-center-center">
		{{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
			{{#menu.trigger}}
				{{#paper-button onClick=null iconButton=true}}
					{{fa-icon 'cutlery'}} Pantry
				{{/paper-button}}
			{{/menu.trigger}}

			{{#menu.content as |content|}}
				{{#each items as |item|}}
					{{#content.menu-item onClick="openSomething"}}
						{{paper-icon item.icon class="md-menu-align-target"}}
						<span>{{item.title}}</span>
					{{/content.menu-item}}
				{{/each}}
			{{/menu.content}}

		{{/paper-menu}}
	</div>
</div>