<div class="container">
  <div class='page-header'>
    <h1>Shopping List</h1>
  </div>

  {{model}}



  <div class="panel panel-default">
    <div class="panel-heading">{{shopping-list-add-item addItem='addNewItems'}}</div>
    <div class="panel-body">
      <div>
        <ul class="list-group" id = "shopping-list-main">
          {{#each model.shoppingListItems as |shoppingItem|}}
            <li class="list-group-item">
              <input type="checkbox" class = "list-checkbox"> {{shoppingItem.name}}
            </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>









</div>





