<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-group basic-card" id="shopping-list-card">

        <h2 class="dash-section-header">
          {{fa-icon 'clock-o'}} Shopping list sorted by: Recently Added
        </h2>
        <div class="row add-new-shopping-list-item">
          <div class="col-md-12">
            {{shopping-list-add-item addItem='addNewItems'}}
          </div>
        </div>

        <ul class="list-group" id="shopping-list-main">
          {{#each model.shoppingListItems as |shoppingItem|}}
            {{shopping-list-item shoppingItem = shoppingItem selectItem='selectItem'}}
          {{/each}}
        </ul>

      </div>
    </div>

  </div>


  </div>


