<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{shopping-list-add-item addItem='addNewItems'}}
  </div>
</div>

<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{shopping-list-display shoppingList=model items = model.shoppingList.shoppingListItems
                            purchaseItem = "purchaseItem"
                            deleteItem = "deleteItem"
                            limit = false
                            deleteButton = true
                            group-listing = false
    }}
  </div>
</div>


