<div class="container">

  <div class="panel panel-default shopping-list-panel">
    <div class="panel-heading">{{shopping-list-add-item addItem='addNewItems'}}</div>
    <div class="panel-body">
      <div>

        <ul class="list-group" id="shopping-list-main">
          {{#each model.shoppingListItems as |shoppingItem|}}
            <li class="list-group-item">
              <input type="checkbox" class="list-checkbox"> {{shoppingItem.name}}
            </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>





