$primary-background-color: #f3f3f3;
$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$header-color: #3f4fc9;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #536DFE;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;