{{#paper-card as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h2>Want to join a pantry?</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}
	{{#card.title as |title|}}
		{{#title.text as |text|}}
			{{#text.headline}}Enter the email of a member in the pantry you wish to join.{{/text.headline}}
		{{/title.text}}
	{{/card.title}}
	{{#card.content}}
		{{#paper-form onSubmit=(action "sendPantryRequest" pantryEmail) as |form|}}
			<div class="layout-row">
				<div class="layout-column flex-75">

					{{form.input icon="email" type="email" label="Email" value=pantryEmail onChange=(action (mut pantryEmail)) required=true}}
				</div>

			</div>
			<div class="layout-row">
				{{#form.submit-button disabled=form.isInvalid raised=true primary=true}}Submit{{/form.submit-button}}
			</div>
		{{/paper-form}}
	{{/card.content}}
{{/paper-card}}