<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{shopping-list/display
		    items = model.shoppingItems
		    limit = 7
	      deleteButton = false
	      purchaseItem = "purchaseItem"
    }}
  </div>

  <div class="layout-column flex-xs flex-gt-xs-50">
    {{purchased-list-display items = model.purchasedItems limit = 8 deleteButton = false}}
  </div>

</div>