<div class="container padded">
  <div class="row centered">
    <div class="col-md-8 padding">
      <div class="dashboard-group">

        <h2 class="text-center dash-section-header">
          {{fa-icon 'shopping-cart'}} Shopping List
        </h2>

        <div class="dashboard-col">
          <ul class="dashboard-list-group">
            <li class="list-item-dash">Cras justo odio</li>
            <li class="list-item-dash">Dapibus ac facilisis in</li>
            <li class="list-item-dash">Morbi leo risus</li>
            <li class="list-item-dash">Porta ac consectetur ac</li>
            <li class="list-item-dash">Vestibulum at eros</li>
          </ul>
        </div>

      </div>


    </div>
    <div class="col-md-4 padding">
      <div class="dashboard-group">

        <h2 class="text-center dash-section-header">
          {{fa-icon 'clock-o'}} Recent Purchases
        </h2>
        <div class="dashboard-col ">
          <ul class="dashboard-list-group">
            <li class="list-item-dash">Cras justo odio</li>
            <li class="list-item-dash">Dapibus ac facilisis in</li>
            <li class="list-item-dash">Morbi leo risus</li>
            <li class="list-item-dash">Porta ac consectetur ac</li>
            <li class="list-item-dash">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="dashboard-group">

        <h2 class="text-center dash-section-header">
          {{fa-icon 'money'}} Contributions
        </h2>
        <div class="dashboard-col">
          <div class="span11">
            <div class="row-fluid">
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
              <div class="col-lg-3">COL1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


