<div class="layout-row layout-xs-column layout-sm-column">
  <div class="layout-column flex-xs-100 flex-gt-sm-50 flex-sm-100">
    {{shopping-list/display
		    items = model.shoppingItems
		    limit = true
	      deleteButton = false
	      purchaseItem = "purchaseItem"
    }}
  </div>

  <div class="layout-column flex-xs-100 flex-gt-sm-50 flex-sm-100">
	  {{pantry/display-items
		  items = model.purchasedItems
		  limit = true
		  deleteButton = false
		  purchaseItem = "purchaseItem"
	  }}
  </div>

</div>