
<div class="layout-row layout-xs-column">
	<div class="layout-column flex-50 flex-gt-xs-100">
		{{join-pantry-request-form}}
	</div>
	<div class="layout-column flex-50 flex-gt-xs-100">
		{{users-in-pantry users = model.users}}
	</div>
</div>