{{#paper-card as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h2>
				Your Spending
			</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}

	{{#card.content}}
		<div>

			<div class="userTotalSpent">Spending on items:
				<span class="numberVal">
					{{await user.spendingTotals}}
				</span>
			</div>

			<div class="userTotalSpent">Payments to others:
				<span class="numberVal">
					{{await user.paymentTotals}}
				</span>
			</div>

			<div class="userTotalSpent">Total contributions to pantry:
				<span class="numberVal">
					{{await user.contribTotals}}
				</span>
			</div>
		</div>
	{{/card.content}}

{{/paper-card}}