<div class="layout-row layout-xs-column">

	<div class="flex-30 flex-xs-100">
		{{expenses/overview/user-spending-card user=model.user purchasedList=model.purchasedList}}
	</div>

	<div class="flex-70 flex-xs-100">

		{{#paper-card id="expenses-card" as |card|}}
			{{#paper-toolbar}}
				{{#paper-toolbar-tools}}
					<h2>
						Other Users Spending
					</h2>
				{{/paper-toolbar-tools}}
			{{/paper-toolbar}}

			{{#card.content}}
				<div class="layout-row layout-wrap " >
					{{#each model.otherUsers as |user|}}
						<div class="flex-50 flex-xs-100">
							{{expenses/overview/pantry-member-spending-card user = user purchasedList = user.purchasedList}}
						</div>
					{{/each}}

				</div>

			{{/card.content}}
		{{/paper-card}}






	</div>
</div>




