
{{#bs-navbar class="navbar navbar-custom navbar-fixed-top" }}
	<div class="container">

		<div class="navbar-header page-scroll">
		{{#bs-navbar-toggle}}
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		{{/bs-navbar-toggle}}
		<a class="navbar-brand " id = "nav-branding">Perfect Pantry</a>
	</div>

	{{#bs-navbar-content}}
		{{#bs-navbar-nav class = "nav navbar-nav navbar-right"}}
			{{#bs-nav-item class = "hidden"}}<a href="#page-top"></a>{{/bs-nav-item}}
			{{#bs-nav-item}}<a class="page-scroll" href="#features">Features</a>{{/bs-nav-item}}
			{{#bs-nav-item}}<a class="page-scroll" href="#about">About</a>{{/bs-nav-item}}
			{{#bs-nav-item}}{{#link-to "sign-up"}}Sign Up{{/link-to}}{{/bs-nav-item}}
			{{#bs-nav-item}}{{#link-to "sign-in"}}Sign In{{/link-to}}{{/bs-nav-item}}


		{{/bs-navbar-nav}}
	{{/bs-navbar-content}}
	</div>
{{/bs-navbar}}