{{#if showDialog}}
	{{#paper-dialog class="flex-md-40" onClose=(action "updateGraphTimeOptions" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
		{{#paper-toolbar}}
			{{#paper-toolbar-tools}}
				<h2>{{graphName}}</h2>
				{{#paper-button iconButton=true onClick=(action "updateGraphTimeOptions" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
			{{/paper-toolbar-tools}}
		{{/paper-toolbar}}

		{{#paper-dialog-content}}

			{{graphs/graph-options-modal/option-dropdowns
					currentTimeSetting = currentTimeSetting
					enableOKButton = "enableOKButton"}}

		{{/paper-dialog-content}}

		{{#paper-dialog-actions class="layout-row"}}
			{{#paper-button onClick=(action "updateGraphTimeOptions" "cancel")}}Cancel{{/paper-button}}
			{{#paper-button disabled = okButtonDisabled onClick=(action "updateGraphTimeOptions" "ok")}}OK{{/paper-button}}
		{{/paper-dialog-actions}}
	{{/paper-dialog}}
{{/if}}

