
{{#paper-card class = "shopping-list-comp" as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h1>
				{{fa-icon 'shopping-cart'}}&nbsp;Shopping List
			</h1>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}
  {{#card.content}}

    {{shopping-list/display-table
		    items = items
		    allSelectedActionButtons = allSelectedActionButtons
		    tableRowActions = tableRowActions
		    tableRowActionHeaders = tableRowActionHeaders
    }}


  {{/card.content}}


  {{#if showingAreYouSureMenu}}
	  {{helpers/confirmation-dialog}}
  {{/if}}

{{/paper-card}}



