
{{#paper-card class = "shopping-list-comp" as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h2>
				{{fa-icon 'shopping-cart'}}&nbsp;Shopping List
			</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}
  {{#card.content}}

    {{shopping-list/display-table
		    items = items
		    sendActionUp = "sendActionUp"
		    limit = limit
		    deleteButton = deleteButton
    }}


  {{/card.content}}


  {{#if showingAreYouSureMenu}}
	  {{helpers/confirmation-dialog}}
  {{/if}}

{{/paper-card}}



