{{#paper-form as |form|}}
	<form onsubmit={{action "getItemQty"}}>

		<div class="layout-align-center">

			<div class="flex-100">
				{{form.input id="itemQtyInput" class="input-box" type="number" label="Quantity" default = "1"
				             autofocus="autofocus"
				             value=itemQty onChange=(action (mut itemQty))
				             min=1 max=100 required=true}}
			</div>
		</div>
		<div class="layout-row">
			<div class="layout-column flex-100">
				{{#form.submit-button id = "add-new-item" raised=true primary=false disabled=form.isInvalid
				                      onClick=(action "getItemQty")}}
					Add Item
				{{/form.submit-button}}
			</div>
		</div>
	</form>
{{/paper-form}}
