
<!-- Header -->
<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Welcome To Perfect Pantry</div>
			<div class="intro-heading">Group Shopping Simplified</div>
			<a href="#features" class="page-scroll btn btn-xl">Tell Me More</a>
		</div>
	</div>
</header>
