<div class="container">

  <form class="col s12">
    <div class="row">
      <div class="col s12">
        <form {{action "sendPantryInvite" on="submit"}}>
          Enter the email of the pantry you wish to join.
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </form>

      </div>
    </div>
  </form>

</div>