

{{#bs-navbar id="main-nav-bar" as |navbar|}}
	<div class="navbar-header">
		{{#navbar.toggle}}
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		{{/navbar.toggle}}
		<a class="navbar-brand" id = "nav-branding" href="#">Perfect Pantry</a>
	</div>
	{{#navbar.content}}
		{{#navbar.nav as |nav|}}

			{{#nav.item}}{{#nav.link-to "dashboard"}}Dashboard{{/nav.link-to}}{{/nav.item}}

			{{#bs-dropdown tagName="li" as |dd|}}
				{{#dd.toggle}}Pantry <span class="caret"></span>{{/dd.toggle}}
				{{#dd.menu as |ddm|}}
					{{#ddm.item}}{{#link-to "pantry.current-items"}}Current Items{{/link-to}}{{/ddm.item}}
					{{#ddm.item}}{{#link-to "pantry.group-shopping-list"}}Needed Items{{/link-to}}{{/ddm.item}}
					{{#ddm.item}}{{#link-to "pantry.settings"}}Settings{{/link-to}}{{/ddm.item}}
				{{/dd.menu}}
			{{/bs-dropdown}}

			{{#nav.item}}{{#nav.link-to "shopping-list"}}Shopping List{{/nav.link-to}}{{/nav.item}}


			{{#bs-dropdown tagName="li" as |dd|}}
				{{#dd.toggle}}Expenses <span class="caret"></span>{{/dd.toggle}}
				{{#dd.menu as |ddm|}}
					{{#ddm.item}}{{#link-to "expenses.overview"}}Overview{{/link-to}}{{/ddm.item}}
					{{#ddm.item}}{{#link-to "expenses.expense-splitting"}}Expense Splitting{{/link-to}}{{/ddm.item}}
					{{#ddm.item}}{{#link-to "expenses.visualizations"}}Visualizations{{/link-to}}{{/ddm.item}}
				{{/dd.menu}}
			{{/bs-dropdown}}

		{{/navbar.nav}}

	{{#navbar.nav class = "navbar-right" as |nav| }}

		{{#bs-dropdown tagName="li" as |dd|}}
			{{#dd.toggle}}{{fa-icon 'gear'}} Settings <span class="caret"></span>{{/dd.toggle}}
			{{#dd.menu as |ddm|}}
				<button type="button" id = "sign-out-button" class="btn btn-default remove_button_css" {{action 'signOut'}}>Sign Out</button>
			{{/dd.menu}}
		{{/bs-dropdown}}

	{{/navbar.nav}}
{{/navbar.content}}

{{/bs-navbar}}