
{{#if showPaymentDialog}}
	{{expenses/splitting/payment-dialog user=user closePaymentDialog="closePaymentDialog"}}
{{/if}}

{{#paper-card as |card|}}
	{{#paper-toolbar}}
		{{#paper-toolbar-tools}}
			<h2>
				{{user.firstName}} {{user.itemSpending}}
			</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}
	{{#card.content}}
		{{#paper-button onClick=(action "showPaymentDialog") raised=true class="payment-button"}}
			{{fa-icon 'dollar'}} Make Payment
		{{/paper-button}}
	{{/card.content}}
{{/paper-card}}


